.app {
  width: 80%;
  margin: auto;
}

.usercard {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  background-color: rgb(9, 9, 9);
  color: rgb(251, 147, 11);
}
.card {
  margin-top: 40px;
 
  background-image: url("./contact.png")
}

.bd {

background-color:rgb(251, 147, 11) ;

}